.home {

.mainContent {
  width: 100%;
  background-color: pink;
  padding: 60px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap; // responsive wrap
  color: black;

  .content {
display: flex;
flex-direction: column;
gap: 10px;

    h1 {
      font-size: 40px;
      margin-bottom: 20px;
      width: 600px;
    }

    h3 {
      font-size: 18px;
      color: rgb(49, 48, 48); // grayish tone
      margin-bottom: 30px;
      line-height: 26px;
      width: 650px;
    }

    button {
height: 40px;
width: 130px;
      background-color: #ff69b4;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background-color: #ff85c1;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;

    .content {
      h1 {
        font-size: 32px;
      }

      h3 {
        font-size: 18px;
      }

      button {
        font-size: 14px;
        padding: 10px 25px;
      }
    }

    .coverImg {
      max-width: 100%;
      margin-top: 30px;
    }
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 12px 20px;
  border-radius: 8px;
  width: 100%;
  margin: auto; // center align if block
  margin-top: 30px;
  align-items: center;
  justify-content: center;

  input {
    padding: 15px 20px;
    width: 65%;
    border: 2px solid #ff69b4;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;

    &:focus {
      border-color: #ff69b4;
      box-shadow: 0 0 0 2px rgba(255, 105, 180, 0.2);
    }
  }

  .searchBtn {
    padding: 15px 28px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 30px;
        border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #ff85c1;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 12px;

    input, .searchBtn {
      width: 100%;
    }
  }
}

.categoriesCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin: 40px 0;
}


}